## Premitive data types(list, tuple, set):

### List:

- Collection of object values
- insertion order is preserved
- heterogeneous values are allowed
- Multable
- Growable

In [26]:
# syntax
'''
identifier = []
'''
l = []

### Tuple
- Tuple is exactly same as list, except it's immutable. i.e one we creates tuple object we cannot perform any changes in that object.
- Hence tuple is read only version of list.

In [2]:
# syntax
'''
identifier = ()
'''
t = ()
type(t)

tuple

In [8]:
# if we are using with atleast one value, mandetorily we have to use comma after the value. otherwise it will be consider as int.
t = (10)
print(type(t))
t = (1,)
print(t)
type(t)

<class 'int'>
(1,)

tuple

#### Tuple Comprehension:
- Tuple comprehension is not supported by python
- If we try to do it we'll not get the tuple objects, but python generator object.

In [19]:
t = (x**2 for x in range(0, 6))
print(type(t))
t = eval('10,20,30,40')
print(type(t))

<class 'generator'>
<class 'tuple'>

### Range

Data type represents a sequence of values

- Immutable

**Forms of declarating range**

In [33]:
# 1
r = range(10)
print(type(r))
r

<class 'range'>

range(0, 10)

In [34]:
for i in r: print(i)

0
,1
,2
,3
,4
,5
,6
,7
,8
,9

In [35]:
# we can use the indexing and slicing 
print(r[3])
r[0:3]

3

range(0, 3)

In [36]:
# 2
r = range(0, 99, 2)
r

range(0, 99, 2)

In [37]:
for i in r: print(i)

0
,2
,4
,6
,8
,10
,12
,14
,16
,18
,20
,22
,24
,26
,28
,30
,32
,34
,36
,38
,40
,42
,44
,46
,48
,50
,52
,54
,56
,58
,60
,62
,64
,66
,68
,70
,72
,74
,76
,78
,80
,82
,84
,86
,88
,90
,92
,94
,96
,98

### Set:

- insertion order is not preserved
- duplicated are not allowed
- heterogeneous obj are allowed
- Growable

In [39]:
# syntax
'''
identifier = {<atleast-one obj>}
'''
s = {}
print(type(s))
s = {10}
type(s)

<class 'dict'>

set

### Frozenset

similar to set but,

- Immutable
- Not growable

In [40]:
# syntax
'''
identifier = frozenset({<atleast-one obj>})
'''
fs = frozenset({10, 20, 10, 30})
print(type(fs))
fs

<class 'frozenset'>

frozenset({10, 20, 30})

In [41]:
# immutable
fs[0] = 2

TypeError: 'frozenset' object does not support item assignment

In [43]:
# not growable
fs.add(40)

AttributeError: 'frozenset' object has no attribute 'add'

### Dict:

Key-value pair of objects or (mapping of two objects)

- key and value can be any type of fundamental data type obj.
- but key must be unique
- assignment is allowed

In [54]:
# syntax
'''
identifier = {<key> : <value>, ...}
'''
d = {'akash' : [2], 'age' : 24}
d

{'akash': [2], 'age': 24}