## String vs Bytes

In [10]:
str = 'Advance Python course By'
str

'Advance Python course By'

In [11]:
bStr = bytes([0x41, 0x42, 0x43])
bStr

b'ABC'

We can't add bytes with str. it need to cast to byte or string.

In [12]:
str + bStr

TypeError: can only concatenate str (not "bytes") to str

In [13]:
bStr = bStr.decode('utf-8')
bStr

'ABC'

In [14]:
str + bStr

'Advance Python course ByABC'

## String Formating

In [16]:
formatStr = 'Advance Python course by {0} {1}'.format('joe', 'malini')
formatStr

'Advance Python course by joe malini'

In [19]:
from string import Template
templ = Template('I am working in ${company} as ${role}')

str1 = templ.substitute(company='cisco', role='ste')
str1

'I am working in cisco as ste'

In [21]:
sData = {
    'company': 'cisco',
    'role': 'ste'
}
templ.substitute(sData)

'I am working in cisco as ste'

In [26]:
list1 = ['a', 'b']
list2 = ['c', 'd']

for i in zip(list1, list2):
    print(i[0], i[1])

a c
b d