# SQL

Structured Query Language.

## Data Defination Language
Allows the specification of information about relation, including:
- The schema for each relation
- The domain of values associated with each attribute
- integrity constrains
- etc

### Create Table Construct

- An SQL relation is defined using the `create table` command:
  ```sql
  create table r(
      A1 D1,
      A2 D2,
      ...,
      (intigrity-constrains1),
      (intigrity-constrains2)
    )
  ```
  - r is the name of the relation
  - A<sub>i</sub> is the attribute name in the schema of relation r
  - D<sub>i</sub> is the data type of values in the domain of attribute A<sub>i</sub>

#### Integrity constrains:
- not null
- Primary key
- Foreign key references r
- e.g.
  ```sql
  create table r(
      ID char(5),
      name varchar(20) not null,
      dept varchar(20),
      salary numeric(8,2),
      primary key(ID),
      foreign key(dep) references department
      );
  ```

### Update to table
- Insert
  - ```sql 
      insert into r values(value1, value2, value3, ...);
    ```
- Delete
  - Remove all tuple/rows from a relation r
    - **delete from** r
- Drop Table
  - **drop table** r
- Alter
  - **alter table** r add A D
  - Where A is the attribute name to be added in the relation and D is the domain of A
  - All the existing tuple in the relation are assigned as null for the new attribute

## Basic Query Structure:

- A typical sql query has the form:
  ```sql
  
  select A1, A2, A3, ..., An
  from r1, r2, r3, ..., rn
  where P
  ```
  - A<sub>i</sub> represents an attribute
  - r<sub>i</sub> represent a relation
  - P represent predicate

### select
- An attribute can be a literal, with no `from` clause
  - **select** '437' **as** foo
- The **select** clause can contain arithmatic expressions involving the operation +, -, *, / and operation on constants or attributes of tuples

### where
- The `where` clause specifies condition that the result must satisfy
  - corresponds to the selection predicate of relation algebra
- Coparison result can be combined with the logical connectives `and, or` and `not`

### from
- The `from` clause list the relation involed in a query
  - corresponds to the cartesian product operation of the relationanl algebra
  - Find cartesian product of Instructor X Teachers
    - ```sql
        select * from Instructor, Teachers
    ```
- For common attribute, the attributes are renames by the table name in the result


### like
SQL include a string matching operator for comparison on character string. The operator **like** uses patterns that are described using two special character:
- `%` to match any substring
- `-` to match any character

### Set operations
- **union, intersect, except**
  - Each of the above operations automatically eliminates duplicates
- To retain all duplicates use the corresponding multiset version **union all**, **intersect all** and **except all**